@media (max-width: 767px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1vh 5%;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
  }

  .iconButton {
  }
  .iconButton.clicked {
    background-color: #15aabf;
    border-radius: 10px;
    width: 40px;
  }

  .iconButton.clicked strong {
  }

  .text {
    font-size: 14px;
  }
  .text.clicked {
    font-weight: bold;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 0.5vh 2%;
  }
}
